<ion-content>
    <div class="title ion-text-center">
        <img src="assets/images/webpay.png"/>
    </div>
<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>Matemática</ion-card-title>
    <ion-card-subtitle>Ivan Soto</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Total a pagar $14.990
      <ion-buttons slot="buttons">
          <ion-button color="dark" (click)="presentToast('top')">Pagar</ion-button>
      </ion-buttons>
  </ion-card-content>
</ion-card>
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Lenguaje</ion-card-title>
    <ion-card-subtitle>Beatriz Jimenez</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Total a pagar $21.190
      <ion-buttons slot="buttons">
          <ion-button color="dark" (click)="presentToast('top')">Pagar</ion-button>
      </ion-buttons>
  </ion-card-content>
</ion-card>
<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Filosofía</ion-card-title>
    <ion-card-subtitle>Diego Urrutia</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Total a pagar $8.840
      <ion-buttons slot="buttons">
          <ion-button color="light" (click)="presentToast('top')">Pagar</ion-button>
      </ion-buttons>
  </ion-card-content>
</ion-card>
<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Física</ion-card-title>
    <ion-card-subtitle>Pedro Tapia</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Total a pagar $13.710
      <ion-buttons slot="buttons">
          <ion-button color="dark" (click)="presentToast('top')">Pagar</ion-button>
      </ion-buttons>
  </ion-card-content>
</ion-card>
<ion-card color="light">
  <ion-card-header>
    <ion-card-title>Historia</ion-card-title>
    <ion-card-subtitle>Juan Cuevas</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>Total a pagar $5.890
      <ion-buttons slot="buttons">
          <ion-button color="dark" (click)="presentToast('top')">Pagar</ion-button>
      </ion-buttons>
  </ion-card-content>
</ion-card>
</ion-content>

