<ion-content>
  <ion-list>
      <ion-item color="tertiary">
          <ion-label>Matemática</ion-label>
          <ion-label>7,0</ion-label>
      </ion-item>
      <ion-item color="primary">
          <ion-label>Lenguaje</ion-label>
          <ion-label>5,3</ion-label>
      </ion-item>
      <ion-item color="dark">
          <ion-label>Filosofía</ion-label>
          <ion-label>6,0</ion-label>
      </ion-item>
      <ion-item color="medium">
        <ion-label>Física</ion-label>
        <ion-label>6,5</ion-label>
      </ion-item>
      <ion-item color="light">
          <ion-label>Historia</ion-label>
          <ion-label>4,0</ion-label>
      </ion-item>      
    </ion-list>
</ion-content>
