<ion-content> 
  <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>Matemática</ion-card-title>
        <ion-card-subtitle>Ivan Soto</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Lun y Vie 10:00 am - 13:00 pm
          <ion-buttons slot="buttons">
              <ion-button color="dark" href="https://apps.google.com/intl/es/intl/es_ALL/meet/">Asistir</ion-button>
          </ion-buttons>
      </ion-card-content>
  </ion-card>
  <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Lenguaje</ion-card-title>
        <ion-card-subtitle>Beatriz Jimenez</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Mar y Jue 08:00 am - 10:00 am
          <ion-buttons slot="buttons">
              <ion-button color="dark" href="https://apps.google.com/intl/es/intl/es_ALL/meet/">Asistir</ion-button>
          </ion-buttons>
      </ion-card-content>
  </ion-card>
  <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Filosofía</ion-card-title>
        <ion-card-subtitle>Diego Urrutia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Mie y Vie 12:00 pm - 14:00 pm
          <ion-buttons slot="buttons">
              <ion-button color="light" href="https://apps.google.com/intl/es/intl/es_ALL/meet/">Asistir</ion-button>
          </ion-buttons>
      </ion-card-content>
  </ion-card>
  <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Física</ion-card-title>
        <ion-card-subtitle>Pedro Tapia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Mie y Jue 10:00 am - 13:00 pm
          <ion-buttons slot="buttons">
              <ion-button color="dark" href="https://apps.google.com/intl/es/intl/es_ALL/meet/">Asistir</ion-button>
          </ion-buttons>
      </ion-card-content>
  </ion-card>
  <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Historia</ion-card-title>
        <ion-card-subtitle>Juan Cuevas</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Lun a Vie 10:00 am - 13:00 pm
          <ion-buttons slot="buttons">
              <ion-button color="dark" href="https://apps.google.com/intl/es/intl/es_ALL/meet/">Asistir</ion-button>
          </ion-buttons>
      </ion-card-content>
  </ion-card>
    
</ion-content>
